EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=your_android_oauth_client_id_here
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=your_ios_oauth_client_id_here
EXPO_PUBLIC_GOOGLE_IOS_URL_SCHEME=com.googleusercontent.apps.your_ios_reversed_client_id_here
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your_web_oauth_client_id_here
EXPO_PUBLIC_GOOGLE_DRIVE_SCOPE=https://www.googleapis.com/auth/drive.file
